
*{
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* stops right-side white space */
}

#root {
  height: 100%;
}