.invoices-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.sidebar-wrapper {
  width: 20%;
  height: 100%;
}

.rightHome-wrapper {
  width: 80%;
  height: 100%;
  background-color: #424457;
  position: relative;
}

.titlebar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}


.overall-invoice {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

.invoiceTable {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

#p-h1 {
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
}


.search-input-wrapper {
  position: relative;
  width: 100%;
}

#inputsearch {
  padding: 10px 40px 10px 40px; 
  margin: 5px;
  margin-right: 20px;
  border-radius: 25px;
  border: none;
  background-color: rgb(255, 255, 255, 0.13);
  color: white; 
}


#inputsearch::placeholder {
  color: white;
  opacity: 0.8;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer; 
  opacity: 0.9;
  transition: transform 0.2s ease;
}

.search-icon:hover {
  transform: translateY(-50%) scale(1.1);
}

.blurred {
  filter: blur(5px);
  transition: 0.2s ease;
}