.modal-overlay {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.addProduct {
  background-color: #fafbfc;
  padding: 30px 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  align-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  width: 550px;
  height: 350px;
}

.add-btn {
  background-color: #242531;
  color: #fafbfc;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  padding: 20px;
  width: 320px;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background-color: rgba(36, 37, 49, 0.9);
}
