.bulkUploadModal {
  background-color: white;
  border: none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 550px;
  height: 350px ;
}

.bulkUploadModal.expanded {
  min-height: 420px; 
}

#b-title {
  color: #0b0b0b;
  font-size: 16px;
  padding-bottom: 10px;
}

.txt {
  color: #6d6d6d;
  font-size: 14px;
  
  padding-bottom: 10px;
}

.file-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: dashed 1px #292929;
  border-radius: 8px;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin: 10px;
  gap: 10px;
}

.file-icon {
  width: 42px;
  height: 42px;
  padding: 20px;
}

.instructionTxt {
  display: flex;
  flex-direction: row;
}

.orTextSection{
    display: flex;
  flex-direction: row;
  align-content: center;
  gap: 5px;
}

.line {
  width: 50px;
  color: #e7e7e7;
  height: 1px;
}

.ortxt {
  color: #6d6d6d;
  font-size: 14px;
}

.browse {
  border: 1px solid #292929;
  color: #292929;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.modal-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn {
  color: #6d6d6d;
  font-size: 14px;
  background-color: white;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 10px;
}

.next-btn {
  color: white;
  font-size: 14px;
  background-color: #00181B;
  border: none;
  border-radius: 8px;
  padding: 10px;
}


.file-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 14px;
  margin: 15px 0;
  border-radius: 12px;
}

.preview-icon {
  width: 34px;
  margin-right: 10px;
}

.file-info {
  flex: 1;
}

.file-name {
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}

.file-size {
  font-size: 12px;
  color: #6d6d6d;
  margin: 0;
}

.remove-file {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;
}

.remove-file:hover {
  color: red;
}