.bulkUploadModal {
  background-color: white;
  border: none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 20px; 
  width: 100%;
  max-width: 550px;
  width: 550px;
  height: 350px ;
  /* width: 100%;
  width: 550px;
  max-height: 90vh; */
  overflow-y: auto;
}

.bulkUploadModal.expanded {
  min-height: 420px; 
}

#b-title {
  color: #0b0b0b;
  font-size: 16px;
  padding-bottom: 10px;
}

.txt {
  color: #6d6d6d;
  font-size: 14px;
  
  padding-bottom: 10px;
}

.file-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: dashed 1px #292929;
  border-radius: 8px;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin: 10px 0;
  gap: 10px;
  padding: 10px;
  text-align: center;
}

.file-icon {
  width: 42px;
  height: 42px;
  /* padding: 20px; */
}

.instructionTxt {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.orTextSection{
    display: flex;
  flex-direction: row;
  align-content: center;
  gap: 5px;
}

.line {
  width: 50px;
  color: #e7e7e7;
  height: 1px;
}

.ortxt {
  color: #6d6d6d;
  font-size: 14px;
}

.browse {
  border: 1px solid #292929;
  color: #292929;
  background-color: white;
  border-radius: 8px;
   padding: 10px 14px;
  margin-bottom: 15px;
  cursor: pointer;
}

.modal-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.action-cancel-btn {
  color: #6d6d6d;
  font-size: 14px;
  background-color: white;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 10px;
}

.next-btn {
  color: white;
  font-size: 14px;
  background-color: #00181B;
  border: none;
  border-radius: 8px;
  padding: 10px;
  /* width: 50%; */
}


.file-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 14px;
  margin: 15px 0;
  border-radius: 12px;
  gap: 20px;
}

.preview-icon {
  width: 34px;
  margin-right: 10px;
}

.file-info {
  flex: 1;
  overflow: hidden;
}

.file-name {
  font-weight: 600;
  margin: 0;
  font-size: 14px;
   word-break: break-all;
}

.file-size {
  font-size: 12px;
  color: #6d6d6d;
  margin: 0;
  
}

.remove-file {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;
}

.remove-file:hover {
  color: red;
}

@media (max-width: 768px) {
  .bulkUploadModal {
    height: auto;        /* allow content to grow */
    padding: 18px;
  }

  .file-icon{
    width: 38px;
    height: 38px;
  }
}


@media (max-width: 600px) {
  .bulkUploadModal {
    max-width: 95%;
    width: 350px;
    padding: 15px;
    border-radius: 12px;
  }

  #b-title {
    font-size: 15px;
  }

  .txt {
    font-size: 13px;
  }

  .file-icon {
    width: 36px;
    height: 36px;
    padding: 10px;
  }

  .browse {
    width: 100%;
    text-align: center;
  }

  .modal-actions {
    flex-direction: row;
    align-items: stretch;
    /* flex-wrap: wrap; */
  }

  .action-cancel-btn,
  .next-btn {
    width: 50%;
  }

  .file-preview {
    flex-direction: row;
    align-items: center;
  }
}


@media (max-width: 400px) {
  .bulkUploadModal {
    max-width: 80%;
    padding: 15px;
    border-radius: 12px;
  }
  .file-preview {
    flex-direction: column;
    align-items: flex-start;
  }

  .remove-file {
    align-self: flex-end;
  }
}