.buyProductOverlay {
  position: fixed;
  inset: 0; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

.buyProductModal {
  background: #E2E5E4;
  max-width: 550px;
  width: 100% ;
  height: 350px;
  border-radius: 16px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  box-sizing: border-box;
  /* flex-wrap: wrap; */
  /* margin: 40px; */
}
/* 
.buyDiv{
    background-color: #FAFBFC;
    border-radius: 16px ;
    width: 550px ;
    height: 350px;
    display: flex;
    flex-direction: row;
     align-content: center;
    justify-items: center; 
    padding: 20px;
} */

.buyDiv{
    background-color: #242531;
    border-radius: 8px ;
    width: 100%;
  max-width: 320px;
    height: 70px;
    padding: 10px;
    margin: 0;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buyDiv h2{
color: #FAFBFC;
    font-size: 18px;
    margin: 0px;
    margin: 0;
  text-align: center;
}

.buyInput{
     background-color: #43444D;
    color: #FAFBFC;
    font-size: 18px;
    border-radius: 8px ;
    width: 100%;
  max-width: 320px;
    height: 70px;
    
    padding: 10px;
     margin: 0px;
     border: none;
  outline: none;
  box-sizing: border-box;
}

.buyBtn{
     background-color: #242531;
    color: #FAFBFC;
    font-size: 14px;
    border-radius: 8px ;
    width: 100%;
  max-width: 120px;
    height: 35px;
    padding: 5px;
     margin: 0px;
     margin-top: 10px;
     border: none;
  cursor: pointer;
}
.errorText {
  color: red;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 786px) {
  .buyProductModal {
    padding: 15px;
    gap: 12px;
  }

  .buyDiv {
    height: 60px;
  }

  .buyDiv h2 {
    font-size: 16px;
  }

  .buyInput {
    height: 50px;
    font-size: 14px;
  }

  .buyBtn {
    max-width: 100px;
    height: 30px;
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .buyProductModal {
    width: 80%;        
    max-width: 250px;  
    height: auto;      
    padding: 15px;
    gap: 12px;
  }

  .buyDiv {
    height: 60px;
  }

  .buyDiv h2 {
    font-size: 16px;
  }

  .buyInput {
    height: 50px;
    font-size: 14px;
  }

  .buyBtn {
    max-width: 100px;
    height: 30px;
    font-size: 13px;
  }
}