
.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableTitle {
  font-size: 16px;
  color: #424242;
}

#addProduct {
  background-color: #242531;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
}

.productsList {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0; 
  margin-right: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#pageNo {
  color: #616161;
  font-size: 12px;
  padding: 10px;
  margin-top: 10px;
}

#prev,
#next {
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  color: #616161;
  font-size: 12px;
  padding: 10px;
  margin-top: 10px;
}

.table-responsive-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
  margin-bottom: 10px;
}
.products-table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.products-table thead {
  background-color: #B6B9CF; 
}

.products-table th {
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  border: 1px solid rgba(0, 0, 0 , 0.2);
}

.products-table td {
  padding: 14px 16px;
  font-size: 14px;
  color: #616161;
  border: 1px solid rgba(0, 0, 0 , 0.2);
  /* border-right: 1px solid #ececf2; */
}

.products-table tbody tr:hover {
  background-color: #f7f8fc;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  position: relative;
  width: 400px;
  text-align: center;
}

.modalContent h2 {
  margin-bottom: 15px;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modalBtn {
  padding: 10px 20px;
  border: none;
  background-color: #1976d2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.modalBtn:hover {
  background-color: #1565c0;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.blurred{
  filter: blur(5px);   
}

.availability-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.info-btn {
  /* background: #242531; */
  /* color: white; */
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
}

.info-btn:active {
  transform: scale(0.95);
}
.floating-add-btn {
  background-color: #242531;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 70px;
  right: 50px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1500;
  border-radius: 12px;
}

.floating-add-btn:hover {
  transform: scale(1.08);
}

.floating-add-btn:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .title-container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  
  #addProduct {
    display: none;
  }

  .products-table th, .products-table td {
    padding: 10px 8px; 
    font-size: 13px;
  }

   .table-responsive-wrapper {
    overflow-x: hidden;   
    overflow-y: auto;     
    max-height: 70vh;     
  }

  .products-table {
    min-width: unset; 
  }
}