.setting-container {
  width: 100%;
  height: 100vh;
  background-color: #424457;
}

.setting-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */
    /* padding: 20px; */
    position: relative;
    
}

.close-icon{
    width: 18px;
    height: 18px;
    display: none;
    /* align-items: flex-end; */
    position: absolute;
    top: 0px;
    right: 20px;
   /* margin: 20px; */
   cursor: pointer;
   display: none;
}
#s-h3{
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
}



.settingForm{
    margin: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-items: center; */
    position: relative;
}

#s-h4{
    font-size: 16px ;
    color:#292929 ;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}


.custom-line-4{
    width: 95%;
    background-color:#5E5E5E ;
    margin-left: 20px;
    position: relative;
}

.custom-line-5{
    position: absolute;
    top: 59px;
    width: 10%;
    height: 2px;
    background-color: #242531;
    margin-left: 20px;
    border: 1px solid #242531;
}

.formlabel{
    color: #5E5E5E;
    font-size: 18px;
    padding-bottom: 8px;
    padding-top: 15px;
    padding-left: 40px;
}

.forminput{
    /* width: 100%; */
    width: 60%;
    padding: 10px;
    margin-left: 40px;
    border-radius: 12px;
    border: 1px solid #3E3E3E;
}


#save-btn{
    background-color: #242531;
    align-self: flex-end;
    font-size: 18px ;
    color: #FFFFFF;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    margin: 20px;
}

@media(max-width : 768px){
.setting-container {
  height: 100%; 
  width: 100%;
  position: relative;
}

.sidebar-wrapper{
    display: flex;
}

.setting-header{
    margin-top:40px ;
    
}
#s-h3{
    display: none;
}
#s-h4{
    font-size: 16px ;
    margin-top: 20px;
    margin-left: 30px;
    margin-top: 10px;
}


.custom-line-3{
    display: none;
}
.close-icon{
    display: block; 
    /* flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end; */
    /* position: absolute;
    right: 10px;
    top:0 */
}

.settingForm{
    
    margin: 0;
    padding: 0;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;  */
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 80px;
    gap: 10px;
    position: relative;
}



#s-h4{
    font-size: 14px ;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}


.custom-line-4{
    margin-left: 20px;
    margin-right: 0;
    height: 1px;
    width: 90%;
}

.custom-line-5{
    top: 85px;
    width: 100px;
    height: 2px;
    margin-left: 20px;
}

.formlabel{
    font-size: 12px;
    /* margin-bottom: 10px;
    margin-top: 4px; */
    padding-left: 20px;
    padding-bottom: 0;
}

.forminput{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 20px; */
    margin-bottom: 5px;
    margin-left: 20px;
   
}


#save-btn{
   
    justify-items: right;
    border-radius: 12px;
    width: 100px;
    height: 35px;
    margin: 10px;
    position: absolute;
    right: 20px;
    bottom: 200px;
    
}

}