.s-container {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  height: 100vh;
}

.sidebar-wrapper {
  width: 20%;
  height: 100vh;
  overflow-y: auto;
}

.settings-wrapper {
  width: 80%;
  height: 100vh;
}

@media(max-width : 768px){
  .s-container {
    flex-direction: column; /* stack instead of side-by-side */
  }
.sidebar-wrapper {
    width: 100%;
    height: 60px;        /* match mobile sidebar height */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
  }

  .settings-wrapper {
    width: 100%;
    height: calc(100vh - 60px); /* full height minus bottom nav */
  }
}
