.setting-container {
  width: 100%;
  height: 100vh;
  background-color: #424457;
  position: relative;
}

.setting-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close-icon{
    width: 12px;
    height: 12px;
    display: none;
}
#s-h3{
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
}



.settingForm{
    margin: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-items: center; */
}

#s-h4{
    font-size: 16px ;
    color:#292929 ;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}


.custom-line-4{
    width: 95%;
    background-color:#5E5E5E ;
    margin-left: 20px;
    position: relative;
}

.custom-line-5{
    position: absolute;
    top: 110px;
    width: 10%;
    height: 2px;
    background-color: #242531;
    margin-left: 20px;
}

.formlabel{
    color: #5E5E5E;
    font-size: 18px;
    padding-bottom: 8px;
    padding-top: 15px;
    padding-left: 40px;
}

.forminput{
    width: 40%;
    padding: 10px;
    margin-left: 40px;
    border-radius: 12px;
    border: 1px solid #3E3E3E;
}


#save-btn{
    background-color: #242531;
    align-self: flex-end;
    font-size: 18px ;
    color: #FFFFFF;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    margin: 20px;
}

@media(max-width : 768px){
.setting-container {
  height: 100%; 
  width: 100%;
}

#s-h3{
    font-size: 14px;
    padding: 5px;
    display: none;
}
.close-icon{
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

.settingForm{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    gap: 10px;
}



#s-h4{
    font-size: 14px ;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}


.custom-line-4{
    margin-left: 20px;
    margin-right: 0;
    height: 1px;
    width: 100%;
}

.custom-line-5{
    top: 75px;
    width: 100px;
    height: 2px;
    margin-left: 10px;
}

.formlabel{
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding-left: 20px;
    padding-bottom: 0;
}

.forminput{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 20px;
   
}


#save-btn{
    
    font-size: 10px ;
    align-items: self-end;
    justify-items: right;
    border-radius: 12px;
    width: 100px;
    height: 35px;
    margin: 10px;
}

}