
.productsStock{
    width: 100%;
    /* height: 20%; */
    display: flex;
    flex-direction: column;
    background-color: #F2A0FF;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleName{
    font-size: 14px;
    color: black;
    padding-bottom: 5px;
}

/* .fig{
    font-size: 24px;
    color: black;
} */

.comment{
    font-size: 12px;
    color:black
}

.icon{
    width: 16px;
    height: 16px;
}