.statistics-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.sidebar-wrapper {
  width: 20%;
  height: 100%;
}

.rightHome-wrapper {
  width: 80%;
  height: 100%;
  background-color: #424457;
}

.section1 {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.totalRevenue {
  flex: 3; 
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* padding-left: 20px;
  padding-right: 20px; */
  padding: 10px;
  box-sizing: border-box;
}

.productsSold {
  flex: 3; 
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* padding-left: 20px;
  padding-right: 20px; */
  padding: 10px;
  box-sizing: border-box;
}

.productsStock {
  flex: 3; 
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* padding-left: 20px;
  padding-right: 20px; */
  padding: 10px;
  box-sizing: border-box;
}


.section2 {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.salesPurchase {
  flex: 7; 
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.topProducts {
  flex: 3; 
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}