.forgetPassword {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #1e1e1e;
  max-width: 1600px;
  margin: auto;
}

.fp-sidebar {
  width: 35%;
  height: 100vh;
  background-color: #f7fbff;
  background-color: rgba(255, 255, 255, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 40px 40px 0px;
  min-width: 400px;
  padding: 20px;
}

.fp-heroSection {
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

#heroImg2 {
  width: 65%;
  height: auto;
}

.error {
  color: #e53935;
  font-size: 13px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .forgetPassword {
    width: 100%;
  }

  .fp-sidebar {
    width: 100%;
    height: 100vh;
    border-radius: 40px;
  }

  .fp-heroSection {
    display: none;
  }


}

@media (min-width: 1200px) {
  .fp-sidebar {
    padding: 60px;
  }

  .fp-heroSection {
    padding: 60px;
  }

  }