
.forgetEmail{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1E1E1E;

}

.sidebar{
    width: 35%;
    height: 100vh;
    background-color: #F7FBFF;
    background-color: rgba(255, 255, 255, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 40px 40px 0px;
}

.heroSection{
    
    width: 65%;
    height: 100vh;
    /* background-color: #1E1E1E; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

#heroImg2{
    width: 65%;
    height: auto;
} 

.error {
  color: #e53935;
  font-size: 13px;
  margin-top: 5px;
}