.forgetPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 70%;
}

#intro-h1 {
  font-size: 25px;
  color: #2b2f38;
  margin-bottom: 15px;
  
}

#intro-p {
  font-size: 20px;
  color: #667085;
  font-weight: lighter;
}

.forgetPasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  margin-top: 50px;
  /* padding: 20px; */
}

#label {
  font-size: 16px;
  /* color: ; */
  align-self: flex-start;
  padding-bottom: 5px;
}

#emailInput {
  /* width: 350px;*/
  height: 45px;
  width: 90%;
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: #f7fbff;
  border-radius: 12px;
  border: 1px solid #d4d7e3;
  font-size: 16px;
  /* color: #8897ad; */
  align-self: flex-start;
}

#emailInput ::placeholder {
  color: #8897ad;
}


#send-btn {
  background-color: #242531;
  color: #ffffff;
  font-size: 16px;
  border-radius: 12px;
  width: 100%;
  height: 45px;
  padding: 10px;
  margin-top: 20px;
}
