
.login{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1E1E1E;

}

.sidebar{
    width: 35%;
    height: 100vh;
    background-color: #F7FBFF;
    background-color: rgba(255, 255, 255, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 40px 40px 0px;
}

.heroSection{
    
    width: 65%;
    height: 100vh;
    /* background-color: #1E1E1E; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.section1{
    /* width: 600px;
    height: 100px; */
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

.section1 .heading h1{
    color: white;
    font-size: 40px;
}


#loginHero{
    width: 65%;
    height: auto;
} 