.login {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #1e1e1e;
  max-width: 1600px;
  margin: auto;
}

.sidebar-login {
  width: 35%;
  height: 100vh;
  background-color: #f7fbff;
  background-color: rgba(255, 255, 255, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 40px 40px 0px;
  min-width: 400px;
  padding: 20px;
}

.heroSection-login {
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.section-login {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section-login .heading h1 {
  color: white;
  /* font-size: 40px; */
  font-size: clamp(28px, 3vw, 48px);
}

#loginHero {
  width: 65%;
  height: auto;
  max-width: 600px;
}

#login-pieFrame{
    width: clamp(80px, 2vw, 100px);
    height: clamp(80px, 2vw, 100px);
}

@media (max-width: 768px) {
  .login {
    width: 100%;
  }

  .sidebar-login {
    width: 100%;
    height: 100vh;
    border-radius: 40px;
  }

  .heroSection-login {
    display: none;
  }

  .section-login {
    display: none;
  }

  #loginHero {
    display: none;
    width: 65%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .sidebar-login {
    padding: 60px;
  }

  .heroSection-login {
    padding: 60px;
  }

  .loginForm {
    margin-top: 70px;
  }
}