.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
  max-width: 400px;
}

#signup-intro-h1 {
  font-size: clamp(24px, 2vw, 32px);
  color: #2b2f38;
  margin-bottom: 15px;
}

#signup-intro-p {
  font-size: clamp(16px, 1.2vw, 20px);
  color: #667085;
  font-weight: lighter;
}

.signupForm {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  margin-top: 50px;
  /* padding: 20px; */
  width: 100%;
}

.signup-label {
   font-size: 16px;
  /* color: ; */
  align-self: flex-start;
  padding-bottom: 5px;
}

.signup-password-container {
  position: relative;
  width: 100%;
}

#nameSignupInput,
#emailSignupInput,
#passwordSignupInput {
  /* width: 350px;*/
  height: 45px;
  width: 100%;
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: #f7fbff;
  border-radius: 12px;
  border: 1px solid #d4d7e3;
  font-size: 16px;
  /* color: #8897ad; */
  align-self: flex-start;
}

#emailSignupInput ::placeholder {
  color: #8897ad;
}

.signup-eyeIcon {
position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease;
}

.signup-eyeIcon:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

#signup-btn {
  background-color: #242531;
  color: #ffffff;
  font-size: 16px;
  border-radius: 12px;
  width: 100%;
  height: 45px;
  padding: 10px;
  margin-top: 20px;
}

#p-signup {
  margin-top: 30px;
}

.error {
  color: #e53935;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 500;
}

.input-error {
  border: 1px solid #e53935 !important;
}