.signup {
  max-width: 1600px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #1e1e1e;
}

.signup-sidebar {
  width: 35%;
  height: 100vh;
  background-color: #f7fbff;
  background-color: rgba(255, 255, 255, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 40px 40px 0px;
  min-width: 400px;
  padding: 20px;
}

.signup-heroSection {
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.section-signup {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section-signup .heading-signup h1 {
  color: white;
  /* font-size: 40px; */
  font-size: clamp(28px, 3vw, 48px);
}

#signupHero {
  width: 65%;
  height: auto;
  max-width: 600px;
}

#signup-pieFrame {
  width: clamp(80px, 2vw, 100px);
    height: clamp(80px, 2vw, 100px);
}

@media (max-width: 768px) {
  .signup {
    width: 100%;
  }

  .signup-sidebar {
    width: 100%;
    height: 100vh;
    border-radius: 40px;
  }

  .signup-heroSection {
    display: none;
  }

  .section-signup {
    display: none;
  }

  #signupHero {
    display: none;
    width: 65%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .signup-sidebar {
    padding: 60px;
  }

  .signup-heroSection {
    padding: 60px;
  }

  .loginForm {
    margin-top: 70px;
  }
}
