.inventorySummary {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  justify-content: flex-start;
  /* gap: clamp(8px, 1vw, 16px); */
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.titleName {
  color: #292929;
  padding: 10px;
  margin: 5px;
  font-size: clamp(16px, 2vw, 20px);
}

.inventory-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  width: 100%;
}

.inventory-item {
  display: flex;
  flex-direction: column;
  /* width: 130px;
  height: 100px; */
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.inventory-icon {
  width: 30px;
  height: 30px;
}

.inventoryfig {
  font-size: 16px;
}

.subtitle {
  font-size: 16px;
}

@media (max-width: 768px) {
  .inventory-container {
    flex-direction: column;
    align-items: center;
  }

  .inventory-item {
    width: 80%;
  }
}
