.inventorySummary{
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    width: 100%;
    /* margin: 10px; */
    border-radius: 16px;
    background-color: #FFFFFF;
    /* padding: clamp(10px, 2vw, 20px);  */
}

.titleName{
    color: #292929;
    /* font-size: 20px; */
    /* padding-bottom: 20px; */
    margin: 5px;
    font-size: clamp(16px, 2vw, 20px);
}

.inventory-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    /* flex-wrap: wrap;  */
     /* gap: clamp(10px, 2vw, 20px); */
}

.inventory-item{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 125px;  
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inventory-icon{
    width: 30px;
    height: 30px;
}

.inventoryfig{
font-size: 16px;
}

.subtitle{
    font-size: 16px;
}

@media (max-width: 768px) {
    .inventory-container {
        flex-direction: column; 
        align-items: center;
    }

    .inventory-item {
        width: 80%; 
    }
}