.productSummary{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.titleName{
    color: #292929;
    font-size: 20px;
    padding-bottom: 10px;
    margin: 5px;
}

.product-container{
    
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  width: 100%;
}

.product-item{
    display: flex;
    flex-direction: column;
    /* width: 130px;
    height: 100px;   */
    justify-content: center;
    align-items: center;
    gap: 5px;
     width: 100%;
  height: auto;
  padding: 10px 0;
}

.product-icon{
    width: 30px;
    height: 30px;
}

.productfig{
font-size: 16px;
}

.subtitle{
    font-size: 16px;
   text-align: center;
}