.purchaseOverview {
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  width: 100%;
  /* margin: 10px; */
  border-radius: 16px;
  background-color: #ffffff;
}

.titleName {
  color: #292929;
  font-size: 20px;
  /* padding-bottom: 20px; */
  margin: 5px;
}

.purchase-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  width: 100%;
}

.purchase-item {
  display: flex;
  flex-direction: column;
  /* width: 130px;
    height: 100px; */
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.purchase-icon {
  width: 30px;
  height: 30px;
}

.purchasefig {
  font-size: 16px;
}

.subtitle {
  font-size: 16px;
}

@media (max-width: 768px) {
  .purchase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: clamp(10px, 2vw, 15px);
  }

  .purchase-item {
    width: 100%; /* full width of grid cell */
  }
}
