.salesOverview {
  /* display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  padding: clamp(10px, 2vw, 20px);
  flex-wrap: wrap;
  margin: 0;
  padding: 0; */
    display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  justify-content: flex-start;
  /* gap: clamp(8px, 1vw, 16px); */
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.titleName {
 
  color: #292929;
  padding: 10px;
  margin: 5px;
  font-size: clamp(16px, 2vw, 20px);
}

.sales-container {
  /* width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  /* flex-wrap: wrap; */
  /* gap: clamp(10px, 2vw, 20px); */ 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  width: 100%;
}

.sales-item {
  display: flex;
  flex-direction: column;
  /* width: 130px;
  height: 100px; */
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: auto;
  padding: 10px 0;
  
}

.sales-icon {
  width: 30px;
  height: 30px;
}

.salesfig {
  font-size: 16px;
}

.subtitle {
  font-size: 16px;
}

@media (max-width: 768px) {
  .sales-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: clamp(10px, 2vw, 15px);
  }

  .sales-item {
    width: 100%; 
  }
}
