.salesPurchase-container {
  background: #ffffff;
  /* padding: 20px; */
  padding: clamp(15px, 2vw, 25px);
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.06);
}

.sales-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 15px; */
  margin-bottom: clamp(10px, 2vw, 15px);
  flex-wrap: wrap;
}

.sales-header h2{
  font-size: 20px ;
  color: #1f2937 ;
}

.range-buttons button {
  border: none;
  /* padding: 6px 12px; */
  padding: clamp(4px, 1vw, 8px) clamp(8px, 2vw, 12px);
  margin-left: 8px;
  border-radius: 4px;
  border: solid 1px #F3F4F6 ;
  background: white ;
  cursor: pointer;
  /* font-size: 0.9rem; */
   font-size: clamp(12px, 1.5vw, 15px); 
  display: flex;
  align-items: center;
  gap: 4px;
}

.range-buttons .active {
  background: #242531;
  color: white;
}

@media (max-width: 768px) {
  .sales-header {
    flex-direction: column; 
    gap: clamp(5px, 1vw, 10px);
    align-items: flex-start;
  }

  .range-buttons {
    width: 100%;
  }

  .range-buttons button {
    width: 100%; 
  }
}
