.top-products{
    /* display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    background-color: #FFFFFF;
    max-height: 90%;
    margin: 0;
    padding: 0;
    min-width: 0; */


    flex: 1;             
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: #FFFFFF;
    
}

.titleName{
    color: #292929;
    font-size: 20px;
    padding-bottom: 10px;
    /* margin: 5px; */
}

.items-list{
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    /* align-self: flex-start; */
    /* width: 100%;  */
    display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
  gap: 12px;
    
}

.items-list .item{
    display: 1;              
    overflow-y: auto;                
    min-width: 0;               
}
.itemName{
    font-size: 16px;
    color: black ;
}

.itemIcon{
    width: 30px;
     /* width: 30px; */
    height: 30px;
      /* height: 30px; */
     align-self: center;
}

@media (max-width: 768px) {
    .items-list {
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: 80%; 
    }
}